* {
   box-sizing: border-box;
   background: none;
   border: none;
   padding: 0;
   margin: 0;
   font-family: "Arvo", "Arial", sans-serif;
   text-decoration: none;
   font-size: 14px;
   font-weight: 400;
}

body > * {
   display: none;
}